# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
Project SIDE/.DS_Store
Project SIDE/Library/AssetImportState
Project SIDE/Library/AssetServerCacheV3
Project SIDE/Library/FailedAssetImports.txt
Project SIDE/Library/ScriptAssemblies
Project SIDE/Library/ScriptMapper
Project SIDE/Library/assetDatabase3
Project SIDE/Library/cache
Project SIDE/Library/expandedItems
Project SIDE/Library/metadata
Project SIDE/Library/previews
Project SIDE/Library/guidmapper
Project SIDE/Library
Project SIDE/Temp
Project SIDE/*.pidb
Project SIDE/build
Project SIDE/ExportedObj/
Project SIDE/obj/
Project SIDE/*.svd
Project SIDE/*.userprefs
Project SIDE/*.csproj
Project SIDE/*.pidb
Project SIDE/*.suo
Project SIDE/*.sln
Project SIDE/*.user
Project SIDE/*.unityproj
Project SIDE/*.booproj
Project SIDE/.DS_Store
Project SIDE/.DS_Store?
Project SIDE/._*
Project SIDE/.Spotlight-V100
Project SIDE/.Trashes
Project SIDE/ehthumbs.db
Project SIDE/Thumbs.db
